body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header {
  background-color: black;
  color: white;
  height: 60px;
}
.nav-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 60px;
}
.main-content {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.about {
  width: 220px;
  background-color: #e9ebee;
  height: 250px;
  padding-top: 20px;
}
.about h2 {
  margin: 10px;
  font-style: italic;
}
.about p {
  margin: 0 10px;
}
.archive {
  margin: 10px 0 0 10px;
}
.archive h2 {
  margin-bottom: 5px;
}
.article {
  width: 880px;
  height: 750px;
  display: flex;
  flex-flow: column wrap;
}
.article figure {
  width: 400px;
  margin: 0 10px 20px;
  border: 1px solid lightgrey;
  padding-bottom: 20px;
}
.article figure img {
  width: 400px;
}
.article .figure2 {
  order: 2;
}
.article figcaption {
  margin: 0 7px;
}
.article figcaption h3 {
  margin-bottom: 0;
}
.article figcaption p {
  margin-top: 5px;
}

.right {
  width: 250px;
  height: 190px;
  padding: 20px;
  background-color: #e9ebee;
  align-self: center;
  text-align: center;
}
.right input {
  border-radius: 5%;
  padding: 0 5px;
}

.right form input[type="text"] {
  width: 180px;
  height: 30px;
  border: 1px solid #e9ebee;
  margin: 0;
}
.checkbox {
  margin: 20px 0;
}
.checkbox input {
  margin-right: 10px;
}
.right button {
  width: 180px;
  height: 35px;
  background-color: rgb(28, 131, 196);
  border-color: transparent;
  color: white;
  font-size: 50;
}
.footer {
  height: 80px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .address {
  color: lightslategray;
}
